@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=JetBrains+Mono:wght@400;500&family=Lexend:wght@300;400;600&display=swap');

$f-display: 'Pixelify Sans', cursive;
$f-mono: 'JetBrains Mono', monospace;

$breakpoint-xs: 480px;
$breakpoint-m: 768px;
$breakpoint-lg: 1024px;

:root {
    --font-display: #{$f-display};
    --font-mono: #{$f-mono};
    
    --color-bg: #F8F9FA;
    --color-surface: #FFFFFF;
    --color-primary: #6D28D9;
    --color-secondary: #B45309;
    --color-accent: #059669;
    --color-text-main: #1A1625;
    --color-border: #E5E7EB;
}

.dark {
    --color-bg: #121212;
    --color-surface: #1E1E1E;
    --color-primary: #FF5F5F;
    --color-secondary: #FF8000;
    --color-accent: #CCFF00;
    --color-text-main: #F3F4F6;
    --color-border: #6d1515;
}

$color-bg: var(--color-bg);
$color-surface: var(--color-surface);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-accent: var(--color-accent);
$color-text-main: var(--color-text-main);
$color-border: var(--color-border);
$font-display: var(--font-display);
$font-mono: var(--font-mono);