@import '../variables.scss';

html,
body {
     margin: 0;
     box-sizing: border-box;
     overflow-x: hidden;
     font-family: $font-mono;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-track {
     background: $color-bg;
}

::-webkit-scrollbar-thumb {
     background: $color-primary;
     border: 2px solid $color-bg;
}

/* Firefox */
* {
     scrollbar-width: thin;
     scrollbar-color: var(--color-primary) $color-bg;
}