@import "../../../variables";

.btn-ghost-arcade {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 22px;
    background-color: $color-surface;
    border: 4px solid $color-border;
    font-family: $font-display;
    font-size: 1rem;
    font-weight: bold;
    color: $color-text-main;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 0px $color-border;
    transition: all 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.active {
        transform: translate(5px, 5px);
        box-shadow: 0px 0px 0px transparent;
        border-color: $color-accent;
        color: $color-accent;
        pointer-events: none;
    }

    &:hover:not(.active) {
        border-color: $color-primary;
        color: $color-primary;
        transform: translate(-7px, -7px);
        box-shadow: 14px 14px 0px $color-primary;
    }

    &:active:not(.active) {
        transform: translate(5px, 5px);
        box-shadow: 0px 0px 0px transparent;
        transition: all 0.05s;
    }
}