@import "../../../variables";

.mystery-wrapper {
    display: inline-block;
    margin: 20px;
    position: relative;
    z-index: 99;
}

.mystery-block {
    width: 60px;
    height: 60px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    position: relative;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s ease, box-shadow 0.3s ease;

    .block-face {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .q-mark {
            font-family: $font-display;
            font-size: 40px;
            color: #000;
            opacity: 1;
            transition: opacity 0.1s;
        }
    }

    &.is-hit {
        animation: jump 0.2s ease;
        background: #333;
        box-shadow: 2px 2px 0 #000;
        cursor: default;

        .q-mark {
            opacity: 0;
        }
    }
}

.mario-coin {
    position: absolute;
    top: -40px;
    left: 15px;
    font-size: 30px;
    animation: coinUp 0.7s ease-out forwards;
    pointer-events: none;
    z-index: 100;
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes coinUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(-40px);
        opacity: 1;
    }

    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}